@font-face {
    font-family: "Geometria";
    src: url('fonts/Geometria-Regular.woff2') format('woff2'),
        url('fonts/Geometria-Regular.woff') format('woff');
    font-weight: 400;
    display: swap;
}

@font-face {
    font-family: "Geometria";
    src: url('fonts/Geometria-Medium.woff2') format('woff2'),
        url('fonts/Geometria-Medium.woff') format('woff');
    font-weight: 500;
    display: swap;
}

@font-face {
    font-family: "Geometria";
    src: url('fonts/Geometria-Bold.woff2') format('woff2'),
        url('fonts/Geometria-Bold.woff') format('woff');
    font-weight: 700;
    display: swap;
}

*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top; max-width: 100%;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.no-scroll {
    overflow: hidden;
}

body {
    font-family: "Geometria", sans-serif;
    line-height: 1.25;
}

.container {
    max-width: 1870px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-weight: 700;
    font-size: 32px;
    color: #000;
}

.btn {
    background-color: #0500ff;
    color: #fff;
    transition: background-color .3s;
    display: block;
    cursor: pointer;
}

.header {
    margin-bottom: 57px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 148px;
}

.header::before {
    content: '';
    background-color: #074ab4;
    width: 100%;
    height: 14px;
    display: block;
}

.logo {
    width: 301px;
    height: 88px;
}

.logo__text {
    font-weight: 500;
    color: #212931;
}

.action {
    display: flex;
    align-items: center;
    gap: 18px;
}

.action__btn {
    width: 46px;
    height: 46px;
    border-radius: 50px;
    background-color: #0050cf;
    position: relative;
}
.action__btn::before {
    content: '';
    background: url("img/logout.svg") no-repeat;
    width: 21px;
    height: 21px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    margin-top: 20px;
}

.footer__container {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003b98;
    padding: 21px 27px;
    border-radius: 10px;
}

.footer .logo img {
    height: 100%;
}

.footer__text {
    font-weight: 500;
    width: 191px;
    color: #fff;
}

.upload__title {
    text-align: center;
    margin-bottom: 97px;
}

/* .file-upload {
	position: relative;
	display: block;
}
.file-upload__btn {
	position: relative;
	display: block;
	cursor: pointer;
	text-decoration: none;
	color: #fff;
	text-align: center;
	border-radius: 10px;
	background-color: #0500ff;
	padding: 30px 16px;
    font-weight: 500;
    font-size: 24px;
    transition: background-color .3s;
}

.file-upload__btn:hover {
    background-color: #0500e4;
}

.file-upload__btn::before {
    content: '';
    background: url('img/download.svg') no-repeat;
    width: 51px;
    height: 51px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} */

.file-upload, .edit, .delete {
	position: relative;
	display: block;
    width: max-content;
    margin: 0 auto;
    background-color: transparent;
}

.file-upload--big {
    margin: 0;
}

.file-upload__btn,
.edit__btn, .delete__btn {
	position: relative;
	border-radius: 5px;
	padding: 5px 6px 7px;
}

.file-upload--big .file-upload__btn {
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 10px 16px 11px;
}

.file-upload--big .file-upload__btn::before {
    height: 24px;
    margin-right: 15px;
}

.btn:hover {
    background-color: #0500e4;
}

.file-upload__btn::before,
.edit__btn::before,
.delete__btn::before {
    content: '';
    background: url('img/download.svg') no-repeat;
    width: 21px;
    height: 22px;
    display: block;
}

.loading::before {
    background: url('img/loading.svg') no-repeat center/cover !important;
    animation: .75s linear infinite loading;
    top: 22px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
}

.actions .edit, .actions .delete {
    margin: 0;
    background-color: transparent;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.file-upload input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.select {
   position: relative;
   width: 100%; 
   max-width: 447px;
}
.select__btn { 
   display: flex; 
   height: 55px; 
   align-items: center; 
   cursor: pointer; 
   gap: 20px; 
   justify-content: space-between; 
}
.select__btn::after {
   content: '';
   background: url('img/arrow-down.svg') no-repeat;
   width: 21px;
   height: 21px;
   flex-shrink: 0;
   transform: rotate(0deg);
   z-index: 10;
   transition: .5s;
}
.select.active .select__btn::after {
   transform: rotate(-180deg);
}
.select__text {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.select__options {
   position: absolute;
   width: 100%;
   padding: 20px;
   margin-top: 10px;
   border-radius: 8px;
   background: #fff;
   box-shadow: 0 0 3px rgba(0,0,0,0.1);
   display: none;
   z-index: 99;
}
.select.active .select__options {
   display: block;
   height: 280px;
   overflow: auto;
}
.select__option {
   display: flex;
   min-height: 55px;
   cursor: pointer;
   padding: 0 20px;
   border-radius: 8px;
   align-items: center;
   background: #fff;
}
.select__option:hover, .select__option.selected {
   background: #F2F2F2;
}
.select__option-text {
   font-size: 18px;
}
.edit {
    margin-bottom: 10px;
}

.edit__btn {
    background-color: #10cf50;
}

.edit:hover .edit__btn {
    background-color: #0ebe49;
}

.edit .edit__btn::before {
    background: url('img/edit.svg') no-repeat;
    position: relative;
}

.delete .delete__btn {
    background-color: #ec071e;
}

.delete:hover .delete__btn {
    background-color: #e70a20;
}

.delete .delete__btn::before {
    background: url('img/delete.svg') no-repeat 0 1px;
    position: relative;
}

.page__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 61px;
    max-width: 1844px;
}

.page__title {
    font-weight: 700;
    font-size: 32px;
    color: #000;  
}

table, th, td {
    border: 1px solid #d2d2d2;
    border-collapse: collapse;
    vertical-align: top;
}

.page__table {
    overflow-x: auto;
}

.page__table table {
    width: max-content;
}

th,
td[colspan]{
    font-size: 14px;
    line-height: 1.285;
    background-color: #f2f2f7;
    color: #00235a;
    padding-top: 14px;
    padding-bottom: 22px;
    text-align: left;
}

td {
    padding: 23px 5px;
    height: 90px;
}


tr td:not(:last-child) button.edit-item,
tr td:not(:last-child) button.edit-item--text,
tr td:not(:last-child) button.file-upload__item {
    display: none;
}

.editable td:not(:last-child) button.edit-item,
.editable td:not(:last-child) button.edit-item--text,
.editable td:not(:last-child) button.file-upload__item {
    display: block;
}

.editable td:last-child .edit__btn::before {
    background-image: url('img/edit-save.svg');
    background-position-y: 1px;
}

.page__table th:nth-child(1){
    width: 76px;
    padding-left: 8px;
    padding-right: 5px;
}
.page__table th:nth-child(2){
    width: 83px;
    padding-left: 11px;
    padding-right: 15px;
}
.page__table th:nth-child(3){
    width: 156px;
    padding-left: 13px;
    padding-right: 2px;
}
.page__table th:nth-child(4) {
    width: 111px;
    padding-left: 9px;
    padding-right: 8px;
}
.page__table th:nth-child(5),
.page__table th:nth-child(13)  {
    width: 166px;
    padding-left: 13px;
    padding-right: 13px;
}
.page__table th:nth-child(6),
.page__table th:nth-child(7)  {
    width: 67px;
    padding-left: 12px;
    padding-right: 12px;
}
.page__table th:nth-child(8) {
    width: 95px;
    padding-left: 12px;
    padding-right: 2px;
}
.page__table th:nth-child(9) {
    width: 82px;
    padding-left: 11px;
    padding-right: 2px;
}
.page__table th:nth-child(10) {
    width: 117px;
    padding-left: 14px;
    padding-right: 14px;
}
.page__table th:nth-child(11) {
    width: 108px;
    padding-left: 14px;
    padding-right: 5px;
}
.page__table th:nth-child(12) {
    width: 124px;
    padding-left: 13px;
    padding-right: 13px;
}
.page__table th:nth-child(14) {
    width: 109px;
    padding-left: 14px;
    padding-right: 6px;
}
.page__table th:nth-child(15) {
    width: 115px;
    padding-left: 14px;
    padding-right: 3px;
}
.page__table th:nth-child(16) {
    width: 141px;
    padding-left: 11px;
    padding-right: 4px;
}

td a {
    display: block;
}

.item-file:not(:last-child) {
    margin-bottom: 15px;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 50;
    transition: .8s ease;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup.open .popup__content {
    transform: translate(0px, 0px);
    opacity: 1;
}

.popup__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
}
.popup__content {
    background-color: #fff;
    color: #000;
    width: 100%;
    max-width: 728px;
    padding: 86px 65px 58px;
    position: relative;
    border-radius: 10px;
    opacity: 0;
    transform: translate(0px, -100%);
    transition: .8s ease;
}

.popup__close { 
    position: absolute;
    top: 13px;
    right: -96px;
    background-color: transparent;
}

.popup__title {
    text-align: center;
    margin-bottom: 75px;
}

.popup-form {
    display: flex;
    flex-direction: column;
}

.popup-form__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.popup-form__label .file-upload__btn {
    position: relative;
    z-index: 9;
}

.popup-form__label:not(:last-child) {
    margin-bottom: 17px;
}

/* .popup-form__file-upload ~ .popup-form__input {
    padding-left: 55px;
    padding-right: 55px;
} */

.popup-form__text {
    color: #4b4b4b;
    display: block;
    max-width: 116px;
}

.popup-form__input,
.select__btn {
    width: 100%;
    max-width: 447px;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    padding: 17px 38px 15px;
    font-size: 20px;
    line-height: 1.2;
    color: #000;
}


.popup-form__label.invalid .popup-form__input, .popup-form__label.invalid .select__btn {
    position: relative;
    border-color: #dc3545;
    border-width: 2px;
    /* outline: 2px solid #dc3545; */
    position: relative;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") no-repeat;
    background-size: 28px;
    background-position: right 6px center;
}

.popup-form__label.invalid .select__btn {
    background: none;
}

.popup-form__label.invalid::after {
    content: 'Поле не заполнено';
    color: #dc3545;
    width: 165px;
    height: 12px;
    display: block;
    position: absolute;
    padding: 0 0 0 5px;
    top: -9px;
    left: 170px;
    background-color: #fff;
}

#popup-editText .popup-form__label:nth-child(3).invalid::after, 
#popup-editText .popup-form__label:nth-child(5).invalid::after, 
#popup-editText .popup-form__label:nth-child(6).invalid::after,
#popup-uchplan .popup-form__label:nth-child(2).invalid::after, 
#popup-uchplan .popup-form__label:nth-child(4).invalid::after, 
#popup-uchplan .popup-form__label:nth-child(5).invalid::after {
    content: 'Выберите элемент из списка';
    width: 242px;
}

.popup-form__btn {
    padding: 15px 21px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    align-self: center;
    margin-top: 87px;
}

.popup-form__btn::before {
    content: '';
    background: url('img/save.svg') no-repeat;
    width: 35px;
    height: 35px;
    display: block;
    margin-right: 24px;
}

/* .popup-form__file-upload .file-upload__btn {
    display: flex;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    padding: 17px;
} */

/* .popup-form__file-upload .file-upload__btn::before {
    background: url('img/download.svg') no-repeat;
    width: 21px;
    height: 22px;
    display: block;
} */

.file .popup-form__input {
    padding-right: 55px;
}

.popup-form__actions {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.popup-form .delete {
    margin: 0;
}
.add__btn {
    font-size: 20px;
    border-radius: 5px;
    padding: 16px;
    border: 1px solid #d2d2d2;
    background-color: #f2f2f7;
    color: #00235a;
}

.add__btn:hover {
    background-color: #e7e7f5;
}

/* .add__btn::before {
    content: '';
    background: url("img/add.svg") no-repeat;
    width: 21px;
    height: 22px;
    display: block;
} */

.popup-form__file-item {
    margin-bottom: 20px;
}

.popup-form__file-upload {
    margin: 0;
}

.popup-form__file-upload .file-upload__btn {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 19px 59px;
    
}

.popup-form__file-upload .file-upload__btn.invalid {
    outline: 4px solid #dc3545;
}

.popup-form__file-upload .file-upload__btn::before {
    /* margin-right: 12px;
    background-position-y: -2px; */
    display: none;
}

.actions * {
    padding: 1px;
}

.actions .btn, .actions .btn:hover {
    background-color: transparent;
}

.actions .edit__btn::before {
    background: url("img/edit-item.svg") no-repeat;
}

.actions .delete__btn::before {
    background: url("img/delete-item.svg") no-repeat;
}

.actions .file-upload {
    margin: 0;
}

.actions .file-upload__btn::before {
    background-image: url('img/download-item.svg');
    background-position-y: -2px;
}

#popup-delete .popup-form__btn {
    background-color: #ec071e;
}

#popup-delete .popup-form__btn::before {
    background-image: url('img/delete.svg');
}

.delete-file .btn {
    padding: 16px 37px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.delete-file .btn::before {
    margin-right: 12px;
    width: 35px;
    height: 31px;
}

td[colspan] {
    font-weight: 700;
    height: auto;
}

.delete__btn.loading::before {
    top: 0;
}

/* Страница Eor */

.page__header {
    display: flex;
    align-items: center;
    gap: 37px;
}


.page__link {
    width: 205px;
    display: inline-block;
    border: 1px solid #0050cf;
    border-radius: 10px;
    padding: 10px 24px 10px;
    line-height: 1.28;
    color: #074ab4;
}
